html,body{
	margin:0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p,li,a{
	font-family: 'Libre Baskerville',sans-serif;
}

.header{
	height:200px;
	color:#333333;
}

.jumbotron{
	height:200px;
	color:#333333;
}

.jumbotron span{
	color:#FFC200;
}

.jumbotron h2{
	font-size: 50px;
	line-height: 55px;
	font-weight: 500;
	text-align: left;
}

.banner{
	background-color: #333333;
	color:#fff;
}

.banner .container{
	text-align:center;
}

.banner h3{
	font-size: 36px;
	line-height: 40px;
	font-weight: 500;
}

.banner p{
	font-size: 14px;
	line-height: 20px;
}

.categories{
	background-color: #CA9900;
}

.categories .container{
	text-align:center;
}

.categories .row{
	margin: 5% 25%;
}

.categories .col-md-4{
	margin-bottom: 50px;
}

.categories h4{
	font-size: 30px;
	line-height: 33px;
	font-weight: 500;
	color:#333333;
}

.footer{
	margin-top:-95px;
	background-color: #000000;
	color:#fff;
}

.footer .container{
	padding-bottom: 10px;
}

.footer h4{
	font-size: 20px;
	line-height: 22px;
	font-weight: 500;
}

.footer p{
	font-size: 12px;
	line-height: 17px;
}

.footer img{
	height:20px;
	width: 20px;
}





