html,body{
	margin:0;
	padding:0;
}

p, li{
	font-family: 'Josefin+Slab',sans-serif;
}

.header{
	text-align: center;
	height:150px;
}

.header .container{
	top:40px;
	position: relative;
}

.header p{
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.main{
	background-color: #bbbbbb;
	height:600px;
}

.main .container{
	position: relative;
	top:25px;
	text-align:center;
}

.main ul{
	list-style-type: none;
}

.main ul li{
	display: inline-block;
	padding:5px 10px;
	color: #ffffff;
	text-transform: uppercase;
}

.main ul li:hover{
	color:#000000;
	font-weight: bold;
	transition: color 0.5s;

}

.main img{
	height:90%;
	width:90%;
}

.row{
	margin-top: 30px;
}

.row .col-md-4{
	display:inline-block;
	padding:5px 5px;
	text-align: center;
}

.footer{
	background-color: #bbbbbb;
	height:225px;
}
.footer p{
	font-size: 12px;
	text-align: right;
	font-weight: bolder;
	margin-right: 20px;
}


